
*.class
HarvestAndLoadPictures.java
clipAsAserviceLog
*.gz
*.jar
logs
test.jpg
web/*.pem
web/*.gz
web/log-node
web/logs/
web/node_modules/
web/service-log
web/static/jquery*
web/static/pics/*
web/keywordSuppressedRun1.log
web/llmScanCheckpoint.data
web/webpagelog*
web/*log
web/nohup.out
web/visionGenLog*
web/visionScanCheckpoint.data
data/*.tsv
web/data/search.tsv
web/data/similarity.tsv
