<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="img-src 'self' https://nla.gov.au; script-src-attr 'self' ; script-src 'self' https://fonts.googleapis.com https://apis.google.com; style-src 'self' https://fonts.googleapis.com/ 'unsafe-inline' ">

        <!-- meta http-equiv="Content-Security-Policy" content="default-src *; script-src-attr 'self' ; script-src 'self' https://fonts.googleapis.com https://apis.google.com; style-src 'self' https://fonts.googleapis.com/ 'unsafe-inline'" -->        

        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
        <link rel="icon" type="image/png" href="/static/images/favicon.ico">

        <link rel="stylesheet" href="/static/style/css.css" type="text/css">

        <script src="/static/javascript/js.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">      

        <title>NLA Image Search Comparison Data Gatherer</title>

    </head>
    <body>
    <div style="float:right;font-size:90%;margin-top:0.8em;margin-right:1em"><a href='/'>Home</a> </div>
    <H1 class='banner'><a href="/" style='text-decoration:none;color:#805C74'>NLA Image Search Comparison Data Gatherer</a></H1>
    <div class="content">



  