<%- include('../common/header') ; -%>

<div class="indent">

  <H1>Thanks for your time 
    <% if (optionalUserIdentifier) {%>
      <%=optionalUserIdentifier%>
   <%}%>
    - that's the end of the similarity evaluations!</H1>
<!--
  <div class="indent">
    As promised, <a href="https://hinton.nla.gov.au:5550/">this is the link</a> to a 
    proof-of-concept image search on over 200,000 NLA images which we hope you'll find fascinating and useful! 
  </div>
  <P>
  Thanks again,
  </P>
-->
  <P>Francis Crimmins and Kent Fitch</P>

</div>

<%- include('../common/footer') ; -%>
