<%- include('../common/header') ; -%>


<div class="indent">

  <div style="max-width:70em;margin-left: auto;margin-right: auto">
    <center><H1>Thank you for helping us evaluate image search</H1></center>
    <H3>What is this?</H3>

      <P>We have been investigating new approaches to searching for images and want to evaluate
        which combination of techniques return the most useful results based on user judgements.
      </P>

      <H3>What we are asking you to do</H3>
      <P>We are asking you to perform two sets of evaluations:</P>
      <OL>
        <LI>You will be shown a set of <B>39 searches</B>. For each search, two different approaches are chosen at random to produce the search
        results: the results from each method are shown in their own column.  You are asked to choose which column has the most relevant
        results in the best order.
        </LI>
        <LI>You will then be shown <B>11 <I>similarity</I> searches</B>: 11 random images have been chosen, and for each, two different approaches
           are chosen at random to find the most similar images: the results from each method are shown in their own column. 
            You are asked to choose which column has the most similar images.</LI>
      </OL>
      </P>
      <P> It should take you <B>about 10 minutes</B> to complete both sets of evaluations.
        If you tell us who you are (below), we'll set a cookie in your browser to allow you to continue evaluating later if you don't 
        complete both evaluation sets in one go.
      </P>
      <P>This evaluation site uses cookies and javascript, so in the unlikely event you've disabled
        them for NLA sites, please enable them now.  Also, please don't use the back button - once 
        you've evaluated a result, pressing "back" won't "undo" that evaluation.
      </P>

      <P>
          If you have any questions or comments, please contact Kent Fitch (kfitch@nla.gov.au) or Francis Crimmins (fcrimmins@nla.gov.au)
      </P>
      
      <% if (optionalUserIdentifier) {%>
        <H3>Welcome back, <%=optionalUserIdentifier%>.</H3>
        <P>The optional user identifier you chose has been retained as a cookie.
        If you wish remove this user identifier from this site, just clear your cookies for this site in your browser or click 
        this button:

          <FORM action="/" method="post">
            <input type="submit" value="Clear cookies for this page"/>
          </FORM>

      </P>
      <%}
       else {%>
        <H3>Do you want to tell us who you are?</H3>
        <P>It may be helpful if we can correlate evaluations from the same person, or, in very rare cases, ask you
          for information about some of your evaluations (which of course, you can totally ignore). So, if you
          don't mind, we'd appreciate it if you'd enter your name or email address, or, if you want to remain
          anonymous but help us correlate evaluations, enter a random name of your choosing.
        </P>
        <P>Again, telling us who you are is completely optional, so feel free to skip.
        </P>
        <div  style="margin-left:3em;padding:15px;border:1px solid #999999;width:60em">

          <FORM action="/" method="post">
            <label>Track my evaluations using this real name, NLA email address, or made-up name:</label>
            <input type="text" name="optionalUserIdentifier" size="20"/>
            <input type="submit" value="Track me!"/>
          </FORM>
        </div>
      <%}%>
      </P>

    <% if (typeof evaluationProgress === 'undefined') {%>
      <H3>Let's begin!</H3>
      <div>
          <FORM action="/evaluate" method="post">
            <center><input type="submit" value="Show me the first result"/></center>
          </FORM>
      </div> 

    <%}
     else {%>
      <H3>Let's continue!</H3>
      <div>
        <FORM action="/evaluate" method="post">
          <center><input type="submit" value="Resume evaluations"/></center>
        </FORM>
      </div>
    <%}%>
  </div>
</div>

<div style="margin-top:50px">

  <HR style="color:grey;width:80%"/>

</div>

<%- include('../common/footer') ; -%>
